*.class
.gradle


exercise3/*.csv
*.asv
hw2/output/12cornerdetector.png
hw2/output/6pl.png
hw2/output/6pr.png
hw2/output/6ql.png
hw2/output/6qr.png
hw2/output/depth-11X11-order.png
hw2/output/depth-3X3-noorder.png
hw2/output/diff-3X3-noorder.png
hw2/output/diff-negative-3X3-noorder.png
hw2/output/disparity-11X11.png
hw2/output/disparity-21X21.png
hw2/output/disparity-3X3.png
hw2/output/disparity-3X3.txt
hw2/output/disparity-ordered-101X101.png
hw2/output/disparity-ordered-11X11.png
hw2/output/distance.png

Crypto/.idea/*
Crypto/keystore-a.jks
Crypto/keystore-b.jks
Crypto/keytool-commands-a.txt
Crypto/keytool-commands-b.txt
Crypto/side-a.crt
Crypto/side-b.crt
Crypto/target/Crypto-1.0-SNAPSHOT.jar
Crypto/target/maven-archiver/pom.properties
Crypto/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Crypto/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Crypto/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Crypto/Crypto.iml
Crypto/data/plain.txt
Crypto/data/plain.txt.enc
Crypto/data/plain.txt.vars
Crypto/keystore-a-change-name-to-keystore.jks
Crypto/keystore-b-change-name-to-keystore.jks
Crypto/decrypted.txt
Crypto/plaintext.enc
Crypto/plaintext.txt
Crypto/plaintext.vars
